<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fvt.dev.v3.sthaler.io/FVTServer/AuthenticationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationServiceSoap"
                contract="FvtProxy.AuthenticationServiceSoap" name="AuthenticationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>