<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthenticationServiceSoap" closeTimeout="00:04:00"
                 openTimeout="00:04:00" receiveTimeout="00:10:00" sendTimeout="00:04:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="65536456" maxBufferPoolSize="524288456" maxReceivedMessageSize="65536456"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192456" maxArrayLength="16384456"
                        maxBytesPerRead="4096456" maxNameTableCharCount="16384456" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://fvt-dev-v3.sthaler.io/FVTServer/AuthenticationService.asmx"
          binding="basicHttpBinding" bindingConfiguration="AuthenticationServiceSoap"
          contract="FvtProxy.AuthenticationServiceSoap" name="AuthenticationServiceSoap" behaviorConfiguration="basicHttpEndpointBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="basicHttpEndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="ECDB0C360C2E8FAF1CC11612CCCC0FE4AA5D63B1"
                               x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="524288"/>
    </diagnostics>
  </system.serviceModel>
</configuration>